@import url('https://fonts.googleapis.com/css?family=Raleway:200');

* {
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-block: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    background: #010615;
}

h2 {
    color: #fff;
    top: 2%;
    position: absolute;
    font-size: 2.5vw;
}

label {
    color: #fff;
}

input {
    border-radius: 3px;
}

.simulation {
    padding: 3px;
    background-color: none;
    border-radius: 15px;
    background-color: rgb(19, 18, 18);
    color: #fff;
    opacity: 0.8;
    box-shadow: 2px 2px 2px 1px rgba(49, 158, 205, 0.733);

}

.form-simulate form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.simulation:hover {
    color: #ffee10;
    box-shadow: 0 0 10px #ffee10;
    border: none;
    background-color: rgba(24, 32, 86, 0.229);
    border-radius: 10px;
    opacity: 1;
}

.box {
    position: relative;
    width: 20em;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    /* margin: 40px; */
}

.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.box:nth-child(1):before,
.box:nth-child(1):after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.box:nth-child(3):before,
.box:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #2196F3);
}

.box .glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background: rgba(255, 255, 255, .1);
    pointer-events: none;
}

.box .content {
    padding: 20px;
    color: #fff;
}



#p {
    color: white;
    font-size: 0.5vw;
}

#floor_spaces_heading {

    text-align: center;
    color: white;
    font-size: 2vw;
    margin-top: 4%;
}

button{
    box-shadow: 0.2vw 0.2vw 0.3vw #00bcd4;
    display:flex;
    flex-direction: column;
    margin:30px;
    width:6vw;
    align-items: center;
    border-radius: 4px;
   
    font-size:1vw;
    
}

.floor {
    border-bottom: 1px solid rgb(115, 154, 165);
    color: white;
    padding-right: 0;
    width: 100%;
    /* height: 120px; */
}

#lift_space {
    /* top:10%; */
    width: 100%;

}
.existed h3{
    position:relative;
    top:100px;
}

#lift_space h2 {
    text-align: center;
    color:white;
}



p#floorCount {
    color: #fff;
    font-size: 10px;
    float: right;
    
    
}


.left {
    width: 1.5rem;
    background-color:#bdc3c7;
    display: flex;
    flex-direction: row;
    border: 1px white solid;
    opacity: 0.1;
}



.right {
    width: 1.5rem;
    background-color: #2c3e50;
    display: flex;
    flex-direction: row;
    border: 1px white solid;
    opacity: 0.2;
}



.lift_box {
    width: 3rem;
    height:70px;
    display: flex;
    flex-direction: row;
    background-color: rgb(155, 197, 195,0.8);
    position: relative;
    bottom: 0;
    
   
}


#main_section {
    position: relative;
    padding-top: 25%;
    
}
#lift_section {
    bottom:0;
    display: flex;
    margin-left:15%;
    gap:2rem;
 
}



button:active{
    box-shadow: 0.2vw 0.2vw 0.3vw #ff0000;
    transform: translateY(4px);
}

.revert_back{
display: flex;
align-items: center;
justify-content: center;
margin-top: 10%;
}